<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Allow files and folders to be served directly
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Redirect everything else to index.html
  RewriteRule ^ index.html [L]
</IfModule>